[Unit]
Description=Kubectl Port Forward 6379
Wants=network-online.target
After=network-online.target

[Service]
User=vagrant
Group=vagrant
Type=simple
ExecStart=/bin/bash -c "kubectl port-forward service/redis -n redis --address 0.0.0.0 6379:6379"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
